<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>403 — Доступ запрещён</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Ошибка 403</h2>
        <a id="back" href="/">Вернуться на главную</a>
        <style>
            body {
                background-image: url("https://repository-images.githubusercontent.com/279794389/815ee000-c91b-11ea-9d4f-d9dd0042104d")
            }
            .back {
                border-color: limegreen;
            }
        </style>

        
    </div>
</body>
</html>
